<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>yigitefe.siparis</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>170FC1A1-9411-4D37-9477-7CBD95BDC441</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70E2BDE8-34C3-4935-9E87-94B5FB19798F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4E460DE-C335-4503-A3CF-666219AAC2D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A1A5DB3-74C7-46AD-BAED-C7D5E9EC276B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>33CCE05F-32D7-4200-9646-120939EEFB1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yigit Efe</string>
	<key>description</key>
	<string>Online Sipariş Kısayolları</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Sipariş</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://getir.com/yemek/restoranlar/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8A1A5DB3-74C7-46AD-BAED-C7D5E9EC276B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>yemek</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Yemek Sepeti ve Getir Yemek</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C4E460DE-C335-4503-A3CF-666219AAC2D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.yemeksepeti.com/restaurants/new?lat=40.9778862&amp;lng=29.092762&amp;vertical=restaurants</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>33CCE05F-32D7-4200-9646-120939EEFB1F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gesu</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Getir Su</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>170FC1A1-9411-4D37-9477-7CBD95BDC441</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://getir.com/su</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>70E2BDE8-34C3-4935-9E87-94B5FB19798F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>170FC1A1-9411-4D37-9477-7CBD95BDC441</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>33CCE05F-32D7-4200-9646-120939EEFB1F</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>70E2BDE8-34C3-4935-9E87-94B5FB19798F</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>8A1A5DB3-74C7-46AD-BAED-C7D5E9EC276B</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>C4E460DE-C335-4503-A3CF-666219AAC2D1</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/yigitefe</string>
</dict>
</plist>
